<!--Footer-->
  <footer class="page-footer text-center font-small wow fadeIn">
    <!-- Social icons -->
    <div class="py-3">
      <a href="#">
        <i class="fab fa-facebook-f mr-3"></i>
      </a>

      <a href="#">
        <i class="fab fa-twitter mr-3"></i>
      </a>

      <a href="#">
        <i class="fab fa-youtube mr-3"></i>
      </a>

      <a href="#">
        <i class="fab fa-google-plus-g mr-3"></i>
      </a>

      <a href="#">
        <i class="fab fa-dribbble mr-3"></i>
      </a>

      <a href="#">
        <i class="fab fa-pinterest mr-3"></i>
      </a>

      <a href="#">
        <i class="fab fa-github mr-3"></i>
      </a>

      <a href="#">
        <i class="fab fa-codepen mr-3"></i>
      </a>
    </div>
    <!-- Social icons -->

    <!--Copyright-->
    <div class="footer-copyright py-3">
      © 2019 Copyright:
      <a href="/"> ARWA </a>
    </div>
    <!--/.Copyright-->

  </footer>